
*{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.cardProducto {
  width: 18rem;
  margin:4px;
  background-color: hsl(0, 0, 97%);
  justify-content: center;
}

.cardProductos {
  width: 18 rem;
  margin:4px;
  justify-content: center;

}

.cardBody {
background-color: #D3D3D3;
margin-bottom: 3px;
text-align: center;

}
.cardBodyDark {
  background-color: hsl(0, 0%, 33%);
  margin-bottom: 3px;
  text-align: center;
}
.cartContainer {
  margin-top: 3%;
  margin-left: 26,5%;
}
.cardCart {
  max-width: 640px;
}
.cartWidget {
  margin-right: 40px;
  color: white;
}
.cartContainer {
  margin-top: 3%;
  margin-left: 26, 5%;
}

.divButtons button {
  margin: 4px;
}
img {
  margin-top: 3px;
}
.img-fluid{
width: 100%; 
height: auto;
 }
.itemDetail {
  max-width: 760px;
  margin-top: 20px;
  ;
}
.itemDetailBodyDark {
  margin-top: 3%;
  margin-left: 26, 5%;
  border-left: 5%;
  background-color:#A1A7C8;
  color:white;
}
.contForm {
  margin-top: 20px;
}
.darkMode {
  background-color: black;
  color:gainsboro;
}